.hero {
  color: $white;
  text-align: center;
  height: 40vh;
  background: $blog-hero-image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  opacity: 0.3;

  &__headline {
    padding: 1em;
    font-size: 5em;
  }
  &__subheadline {
    font-size: 2em;
  }
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

.post {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 10px 50px;
  grid-template-columns: 5fr 12fr 5fr;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  color: $primary;
  @include mediaMd {
    grid-template-columns: 1fr;
    padding: 0 1em;
  }

  h2 {
    font-size: 4em;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }

  > * {
    grid-column: 2 / -2;
  }

  .tip {
    font-size: 0.8em;
    background: rgba($primary, 0.4);
    padding: 1em;
    grid-row: span 5;
    align-self: start;

    a {
      color: $primary;
      text-decoration: underline $secondary;
    }
  }

  .tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 2px solid $secondary;
    @include mediaMd {
      border-top: 2px solid $secondary;
      border-right: none;
      text-align: center;
    }
  }

  .tip-right {
    grid-column: span 1 / -1;
    border-left: 2px solid $secondary;
    @include mediaMd {
      border-top: 2px solid $secondary;
      border-left: none;
      text-align: center;
    }
  }

  > figure {
    margin: 0;
    grid-column: 1 / -1;
  }

  figcaption {
    font-size: 10px;
  }

  > blockquote {
    grid-column: 1 / -1;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}
