.grid {
  background: rgba($primary, 0.2);
  display: grid;
  grid-template-rows: auto auto 10em;
  grid-template-columns: 1fr minmax(40em, 5fr) minmax(15em, 2fr) 1fr;
  grid-template-areas:
    "hero hero hero hero"
    ". content sidebar ."
    "footer footer footer footer";
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;

  @include mediaMd {
    grid-template-areas:
      "hero"
      "content"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
  }

  .hero {
    position: relative;
    color: $white;
    text-align: center;
    grid-area: hero;
    background: $blog-hero-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $primary;
      opacity: 0.7;
      z-index: -1;
    }

    &__headline {
      padding: 0.5em;
      font-size: 5em;
    }
    &__subheadline {
      font-size: 2em;
    }
  }

  .blog {
    grid-area: content;

    &__card {
      background: rgba($primary, 0.5);
      display: grid;
      grid-template:
        "img title" min-content
        "img content" auto / 1fr 3fr;
      grid-column-gap: 1.5em;
      padding: 1.5em;
      margin-top: 1.5em;
      border-top: 5px solid $secondary;

      @include mediaMd {
        grid-template:
          "img"
          "title"
          "content" / 1fr;
      }
    }

    img {
      grid-area: img;
      max-width: 100%;
      @include mediaMd {
        margin: 0 auto;
      }
    }

    &__cardTitle {
      font-size: 2em;
      grid-area: title;
      margin: 0;
      font-weight: 300;
      @include mediaMd {
        text-align: center;
      }
    }

    &__cardContent {
      grid-area: content;
      font-size: 1.4em;
      @include mediaMd {
        text-align: center;
      }

      a {
        color: $primary;
        background: $white;
        padding: 0.5em;
        @include mediaMd {
          text-align: center;
        }
        &:hover {
          background: $secondary;
          @include easeOut;
        }
      }
    }
  }

  aside {
    grid-area: sidebar;
    background: rgba($primary, 0.5);
    padding: 1.2em;
    margin-top: 1.5em;
    border-top: 5px solid $secondary;
  }
}
