// Widescreens
@include mediaXl {
}

// Desktop and Laptops
@include mediaLg {
}

// Tablets and small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .heading__lg {
      line-height: 1;
      margin-bottom: 1em;
    }
  }

  ul.menu__nav,
  div.menu__branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    &Link {
      font-size: 2.4em;
    }
  }

  .menu__branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    &Portrait {
      background: $portrait-image;
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position-x: -30px;
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}
